@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/food.jpg");
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 20%;
  background-position: center;
  background-blend-mode: overlay;
}

.header__restaurant-name {
  font-size: 3.4rem;
  margin: 0 1rem;
  color: #eee5db;
  padding-bottom: 10px;
  border-bottom: 3px solid red;
}
.nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.button {
  margin: 0;
  padding: 0.2rem 1.6rem;
  width: 100px;
  border: none;
  background-color: #eee5db;
}

/* home content */
.main {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  height: min-content;
  width: max-content;
  gap: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.home__headline {
  margin: 1rem 0 0 0;
  color: #f96d00;
}

.home__visit-us {
  margin: 0;
  color: white;
  font-size: 1.2rem;
}

.home__restaurant-pic {
  width: max-content;
}

.button--active {
  background-color: lightsalmon;
}

/* menu page */
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 3rem;
  height: min-content;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu__item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  justify-self: center;
  text-align: center;
  align-items: center;
  width: 14rem;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.6);
}

/* media queries */

@media only screen and (max-width: 970px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
  }

  .button {
    padding: 0.2rem 0.5rem;
  }
  .header__restaurant-name {
    text-align: center;
    margin: 0;
  }
}

@media only screen and (max-width: 570px) {
  .nav {
    display: flex;
  }
  .header {
    justify-content: space-evenly;
  }
  .header__restaurant-name {
    font-size: 2.4rem;
  }
  .home {
    width: min-content;
  }
  .button {
    border: 1px solid black;
  }
}

@media only screen and (max-width: 650px) {
  .menu__item {
    width: 10rem;
  }
  .menu {
    width: min-content;
    gap: 2rem;
    padding: 1.5rem;
  }
}
